<div class="container" id="page-builder">
	<section class="clearfix main-container">
		<ul class="block-settings main-container-settings">
			<li>
				<i class="material-icons">mode_edit</i>
			</li>
			<li>b</li>
		</ul>
		<div class="modules-container">
			<ul class="block-settings modules-container-settings">
				<li>a</li>
				<li>b</li>
			</ul>
		</div>
	</section>
</div>